
#main-navbar{
 background-color: blue;
 overflow: hidden;
 float: left;
 width: 100%;
 position: absolute;
 margin: 0%;
 padding:0%;
}

#navbar-container {
 float: left;
 position: relative;
 display: block;
 padding: 10px 20px;
 color: #fff;
 text-decoration: none;
 background-color: #000;
 text-decoration: none;
 list-style-type: none;
}

#navbar-container ul, a {
 text-decoration: none;
 list-style-type: none;
}

#sidebar {
 position: absolute;
 right: 0%;
 background-color: red;
 height: 100%;
 width: 20%;
}

#sidebar-container {
 position: fixed;
 text-align: center;
 padding: 0%;
 display: block;
 width: 20%;
 padding: 15px 0;
 color: #fff;
 background-color: #000;
}

#sidebar-container ul, a {
 text-decoration: none;
 list-style-type: none;
}

.floatimg {
 right: 0%;
 width: 50%;
 height: 50%;
}

